Raspberry Pi runs Debian Wheezy image, however for development and testing purpose we can purpose we can use either Windows, Linux or Macs provided we have the following packages or softwares installed:

* python


* mongoDB
=======
On Pi we require the following to be installed:

* NodeJS

* MongoDB
sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 7F0CEB10
echo 'deb http://downloads-distro.mongodb.org/repo/ubuntu-upstart dist 10gen' | sudo tee /etc/apt/sources.list.d/mongodb.list
sudo apt-get update
sudo apt-get install mongodb-org
sudo /etc/init.d/mongod start|stop|restart
